### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Data/ESA.csv
/Data/LN.csv
/venv
complete_esa_ln_data.csv
merged_corrections_df.csv
merged_df_2.csv
missing fields.csv
ordend_esa_ln_data.csv
txtimes.csv
data_w_corrections.csv
data_w_o_corrections.csv
ESA_LN_Locations.csv
/Encoding
*.joblib
current_state*.csv
merged*.csv
/Data/Oude bestanden/*
/Data/Old/*
/Output/*
tmp.csv


